<div class="main-container">
  <app-menu-lateral></app-menu-lateral>

  <main class="content-area">
    <app-top-menu></app-top-menu>

<div class="entrenamientos-page-container">
    <div class="header-section">
      <h1>Entrenamientos</h1>
      <p>Explora nuestra amplia gama de programas de entrenamiento diseñados para ayudarte a alcanzar tus objetivos de fitness.</p>
    </div>
  
    <div class="search-and-filters">
      <div class="search-bar">
        <input type="text" placeholder="Buscar por nombre..." class="form-control"
              [(ngModel)]="searchTerm" (input)="onSearchChange()">
        <i class="fas fa-search search-icon"></i>
      </div>
    </div>
  
    <div class="entrenamientos-grid">
      <ng-container *ngIf="entrenamientosPage?.content && entrenamientosPage!.content.length > 0">
    <div class="entrenamiento-card"
         *ngFor="let entreno of entrenamientosPage!.content"
         (click)="navigateToEntrenamientoDetails(entreno.id)"> <div class="card-body">
        <h5 class="card-title">{{ entreno.nombre }}</h5>
        <p class="card-text">{{ entreno.descripcion }}</p>
        <p class="card-level">Duración: {{ entreno.duracion }} minutos</p>
        <p class="card-level">Valoración: {{ entreno.valoracionMedia }}</p>
      </div>
    </div>
  </ng-container>
      <ng-template #noEntrenamientos>
        <div *ngIf="entrenamientosPage?.empty" class="alert alert-info mt-3">
          No se encontraron entrenamientos.
        </div>
        <!--<div *ngIf="!entrenamientosPage" class="loading-message mt-3">
          Cargando entrenamientos...
        </div>-->
      </ng-template>
    </div>
  
    <nav aria-label="Page navigation" *ngIf="entrenamientosPage && entrenamientosPage.totalPages > 1">
      <ul class="pagination justify-content-center mt-4">
        <li class="page-item">
          <a class="page-link" (click)="previousPage()">Anterior</a>
        </li>
        <li class="page-item" *ngFor="let pageNum of [].constructor(entrenamientosPage.totalPages); let i = index"
            [class.active]="i === currentPage">
          <a class="page-link" (click)="goToPage(i)">{{ i + 1 }}</a>
        </li>
        <li class="page-item">
          <a class="page-link" (click)="nextPage()">Siguiente</a>
        </li>
      </ul>
    </nav>
  
  </div>

  </main>
</div>