<div class="main-container">
  <app-menu-lateral></app-menu-lateral>

  <main class="content-area">
    <app-top-menu></app-top-menu>

    <div class="ejercicios-page-container"> <div class="header-section">
        <h1>Ejercicios</h1> <p>Explora nuestra biblioteca de ejercicios para mejorar tu rutina de entrenamiento y alcanzar tus objetivos.</p> </div>

      <div class="search-and-filters">
        <div class="search-bar">
          <input type="text" placeholder="Buscar por nombre..." class="form-control"
                 [(ngModel)]="searchTerm" (input)="onSearchChange()">
          <i class="fas fa-search search-icon"></i>
        </div>
      </div>

      <div class="ejercicios-grid"> <ng-container *ngIf="ejerciciosPage?.content && ejerciciosPage!.content.length > 0; else noEjercicios">
          <div class="ejercicio-card" *ngFor="let ejercicio of ejerciciosPage!.content" (click)="navigateToEjercicioDetails(ejercicio.id)"> <div class="card-body">
              <h5 class="card-title">{{ ejercicio.nombre }}</h5>
              <p class="card-text">{{ ejercicio.descripcion }}</p>
              <p class="card-info">Series: {{ ejercicio.series }}</p> <p class="card-info">Repeticiones: {{ ejercicio.repeticiones }}</p> <p class="card-info">Duración: {{ ejercicio.duracion }} minutos</p> <p class="card-info">Nivel: {{ ejercicio.nivel.nombre || 'N/A' }}
              <img *ngIf="ejercicio.urlImagen && ejercicio.urlImagen !== 'No hay'" [src]="ejercicio.urlImagen" alt="Imagen del ejercicio" class="card-image">
            </div>
          </div>
        </ng-container>
        <ng-template #noEjercicios>
          <div *ngIf="ejerciciosPage?.empty" class="alert alert-info mt-3">
            No se encontraron ejercicios.
          </div>
          </ng-template>
      </div>

      <nav aria-label="Page navigation" *ngIf="ejerciciosPage && ejerciciosPage.totalPages > 1">
        <ul class="pagination justify-content-center mt-4">
          <li class="page-item" [class.disabled]="currentPage === 0">
            <a class="page-link" (click)="previousPage()">Anterior</a>
          </li>
          <li class="page-item" *ngFor="let pageNum of [].constructor(ejerciciosPage.totalPages); let i = index"
              [class.active]="i === currentPage">
            <a class="page-link" (click)="goToPage(i)">{{ i + 1 }}</a>
          </li>
          <li class="page-item" [class.disabled]="currentPage === ejerciciosPage.totalPages - 1">
            <a class="page-link" (click)="nextPage()">Siguiente</a>
          </li>
        </ul>
      </nav>

    </div>

  </main>
</div>
