<aside class="sidebar">
  <div class="sidebar-header">
    <i class="bi bi-person-circle"></i>
    <span>FitQuest Gym</span>
  </div>
  <nav class="sidebar-nav">
    <ul>
       <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a routerLink="/inicio">
          <i class="bi bi-house-door-fill"></i> Inicio
        </a>
      </li>
        <li routerLinkActive="active">
        <a routerLink="/entrenamientos">
          <i class="bi bi-fire"></i> Entrenamientos
        </a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/ejercicios">
          <i class="bi bi-book"></i> Ejercicios
        </a>
      </li>
      <li routerLinkActive="active">
        <a  routerLink="/materiales">
          <i class="bi bi-gem"></i> Materiales
        </a>
      </li>
      <li>
        <a href="#">
          <i class="bi bi-person"></i> Perfil
        </a>
      </li>
      <li>
      <a (click)="toggleAdminPanel()" class="admin-panel-toggle">
        <i class="bi bi-sliders"></i> Panel de admin
      </a>

      <ng-container *ngIf="isDropdownOpen">
        <li routerLinkActive="active"><a routerLink="/admin/entrenamiento" >
          <i class="bi bi-dumbbell"></i> Lista de entrenamientos
        </a></li>
        <li routerLinkActive="active"><a routerLink="/admin/ejercicio" >
          <i class="bi bi-person-walking"></i> Lista de ejercicios
        </a></li>
        <li routerLinkActive="active"><a routerLink="/admin/materiales">
          <i class="bi bi-basket"></i> Lista de materiales
        </a></li>
        <li routerLinkActive="active"><a routerLink="/admin/usuarios">
          <i class="bi bi-person"></i> Lista de usuarios
        </a></li>
      </ng-container>
    </li>
      <li *ngIf="isLoggedIn$ | async">
        <a (click)="logout()">
          <i class="bi bi-box-arrow-right"></i> Cerrar Sesión
        </a>
      </li>
      </ul>
  </nav>
</aside>